@charset "UTF-8";

body {
    background-color: rgba(41, 41, 41, 0.658);
    font-family: sans-serif;
}

h1 {
    background-color: rgb(159, 25, 255);
    color: rgba(0, 0, 0, 0.900);
    text-align: center;
}

h2 {
    background-color: black;
    color:rgba(159, 25, 255, 0.700);
}

p {
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.11);
}

img {
    height: 400px;
}
