@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/02/03/08/00/background-3127102_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

/*  Cabeçalho   */
header nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.400);
}
/*  menu   */
li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 10px;
}

li a:hover {
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.550);
    text-shadow: 0px 0px 1px white;
}

main {
    height: 600px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.288);
    align-self: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
}

