@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-image: url("https://img.wallpapic-br.com/i0689-935-519/medium/abstratos-arte-digital-roxos-imagem-de-fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    justify-content: flex-start;
}

li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

li:hover {
    transition: all 0.5s;
    background-color: rgba(0, 89, 255, 0.39);
}
