@charset "utf-8";

/*
    em HTML id = em CSS é #
    id é unico, só existe uma vez
    sobrepóe configurações de uma classe

    em HTML class = em CSS é .
    classe é multiplo, pode existir mais vezes.
    pode ser aplicado mais de uma classe
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: #3c805e;
    font-weight: bold;
}

.intermediario {
    color: #807b3c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: rgb(228, 228, 109);
}