@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
}

#head {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    max-width: 75px;
    height: 100vh;
    justify-content: space-between;
}

#head a {
    text-decoration: none;
    color: white;
}


.child {
    background-color: rgb(37, 37, 37);
    padding: 15px;
    text-align: center;
}

.child:hover, a:hover {
    background-color:rgb(61, 61, 61);
    transition: 1s;
    text-shadow: 0px 0px 3px white;
}
